
body {
text-align: center;    
}

#fonte1 {
    font-size: 30px;
  
}

#fonte2 {
    color: rgb(33, 169, 233);
    font-size: 30px;
}
#imagem1{
    width: 50%;
    text-align: left;
}

#contato {
    margin: 75%;
    text-align: left;
}